body {
	padding: 40px 120px;
	/* black theme */
	background-color: #222;
	color: #fff;
	/* white theme */
	/* background-color: #F3F3FB; */
	/* color: #000; */
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 1.333;
	box-sizing: border-box;
}
.card {
	display: inline-block;
	width: 100%;
	/* min-height: 600px; */
	border-radius: 32px;
	padding: 24px 34px;
	/* black theme */
	background: rgba(37, 36, 51, 0.8);
	/* white theme */
	/* background: rgba(255, 255, 255, 0.4); */
	backdrop-filter: blur(64px);
	/* background-color: #fff; */
}
.card-small {
	width: 70%;
	margin-bottom: 40px;
}
.card-small #chartColumn {
	min-height: 500px;
}
.card__desc {
	font-weight: 600;
	padding-left: 90px;
}

.card__link {
	color: #35B6FF;
	text-decoration: underline;
	transition: color .3s;
}
.card__link:hover {
	color: #1B84D7;
}

.chart {
	width: 100%;
	min-height: 700px;
	color: #302e3d;
}

.legend {
	border: 1px solid #fff;
}



